# <!-- markdownlint-disable-file -->
# Local build files
node_modules
.yarn/*
!.yarn/patches
!.yarn/releases
!.yarn/plugins
!.yarn/sdks
!.yarn/versions
.pnp.*

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
*.log
.trace/

# ESLint cache files
.eslintcache

# Vitest
**/vitest.config.ts
tests/
**/*.test.tsx
**/*.test.ts

# Storybook: the production environment doesn't need it
**/.storybook/
stories
**/stories.tsx
**/*.stories.tsx
storybook-static/

# other
.husky
.github
.czrc
.nvmrc
.vscode
.versionrc
CODE_OF_CONDUCT.md
.markdownlint.json
.lintstagedrc.cjs
.commitlintrc.cjs
**/.prettier*
**/.eslint*

# TypeScript incremental compilation cache
*.tsbuildinfo

# misc
.DS_Store
*.pem

# source
src
tsconfig.json
tsup.config.ts
